# # For Web
# flask==3.0.0
# git+https://github.com/psycopg/psycopg2@master#egg=psycopg2
# gunicorn==21.2.0

# File: web/requirements.txt (simplified)
flask==3.0.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
Werkzeug==3.0.1